# macOS
.DS_Store

# Vercel / Next.js build output
akari-vercel/.next
akari-vercel/.vercel

# Dependencies & env files
akari-vercel/node_modules
akari-vercel/.env.local
akari-vercel/.env
akari-vercel/.env.production
akari-vercel/.env.development

# Logs
akari-vercel/npm-debug.log*
